# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/

# Environments
.env
.venv
venv/
ENV/
env/
env.bak/
venv.bak/

# IDEs
.vscode/
.idea/
*.swp
*.swo

# System
.DS_Store
Thumbs.db
